.form-group.required .control-label:before {
    color: red;
    content: "*";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    font-weight: normal;    
    margin-left: -15px;
    position: absolute;
}            

.leagues-column1 { width: 20px; }
.leagues-column2 { width: 200px; }
.leagues-column3 { width: 200px; }
.leagues-column4 { width: 200px; }